.contas{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

.contas > div{
    border-radius: 20px;
    margin: 1rem;
}
.contas table{
    width: 100%;
}
.receber-tb tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    overflow-y: hidden;
}

.receber-tb td{
    overflow-y: hidden;
}