.dashboard-content{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    color: var(--white-color);
    overflow: auto;
}

.back-animation{
    animation: back 2s ease;
}

@keyframes back{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.dashboard-content > div{
    background-color: var(--purple-light);
    padding: 10px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .3s ease;
}
.dashboard-content > div:hover{
    box-shadow: none;
}

.dashboard-content h3{
    margin-left: .6rem;
    font-size: 1rem;
    color: var(--black-bg);
}

.dashboard-content > div .status{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-content .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.dashboard-content .progress svg{
    width: 7rem;
    height: 7rem;
}

.dashboard-content .progress svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.dashboard-content .cards svg circle{
    stroke: #038b79;
    stroke-dashoffset: 0;
    stroke-dasharray: 222;
}
.dashboard-content .clients svg circle{
    stroke: #038b79;
    stroke-dashoffset: 111;
    stroke-dasharray: 222;
}


.dashboard-content .sales svg circle{
    stroke: #038b79;
    stroke-dashoffset: 222;
    stroke-dasharray: 222;
}

.dashboard-content .progress .percentage{
    position: absolute;
    top: 30px;
    left: -1px;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashboard-content .client-feedb{
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    justify-content: space-between;
    grid-column: span 3;
    pointer-events: none;
    margin-right: 20px;
    margin-bottom: 15px;
}

.dashboard-content .client-feedb h1{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: min(14px, 20px);
}


.dashboard-content .client-feedb > div{
    width: min(100%, 500px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    margin: 1rem;
}


.dashboard-content .client-feedb > div h3{
    position: relative;
    top: -30px;
    left: -10px;
}

.dashboard-content .client-feedb p {
    font-size: 10px;
}