.modal-overlay{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 998;
    height: 100vh;
    width: min(100%, 100vw);
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-overlay .novo-cadastro-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 56.25rem);
    height: auto;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.novo-cadastro-modal .header-n-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 5rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.novo-cadastro-modal .header-n-cadastro a{
    margin-left: 1.25rem;
}

.novo-cadastro-modal .form-n-cadastro{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
}

.novo-cadastro-modal .form-n-cadastro label {
    font-size: 2rem;
}

.novo-cadastro-modal .form-n-cadastro > input{
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 18.75rem);
}

.plano select, .vencimento select {
    font-size: 2rem;
}

.excluir-cadastro {
    position: absolute;
    right: 2em;
}
.novo-cadastro-modal p{
    color: var(--red-danger);
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-bottom: .4em;
}

/* edit modal */


.modal-e-overlay .edit-cadastro-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 56.25rem);
    height: 37.5rem;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.edit-cadastro-modal .header-e-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 3.125rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.edit-cadastro-modal .header-e-cadastro a{
    margin-left: 1.25rem;
}

.edit-cadastro-modal .form-e-cadastro{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
}
.edit-cadastro-modal .form-e-cadastro > input{
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 18.75rem);
}


.edit-cadastro-modal p{
    color: var(--red-danger);
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-bottom: .4em;
}

.modal-anim{
    animation: bluranim 1s ease-in;
}

@keyframes bluranim{
    from{
        filter: blur(10px);
    }
}

.new-modal-anim{
    animation: newmodal 1s ease-in-out;
}

@keyframes newmodal{
    from{
        transform: translateY(-100vh);
    }
}

.modal-os-overlay .nova-os-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 50rem);
    height: 37.5rem;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.nova-os-modal .header-os-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 3.125rem;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.nova-os-modal .header-os-cadastro a{
    margin-left: 1.25rem;
}

.nova-os-modal .form-n-os{
    display: flex;
    flex-direction: column;
    margin: 1.25rem;
    align-items: flex-start;
}

.nova-os-modal .form-n-os > select {
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 18.75rem);
    font-size: 1rem;
}
.nova-os-modal .form-n-os > input{
    font-size: 1rem;
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 18.75rem);
}

.confirm-payment {
    height: auto;
    width: 25rem;
    background-color: var(--purple-color);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "header header"
    "left right"
    "table table";
    gap: 0.5rem;
    box-shadow: var(--box-shadow);
}

.select-td-payment {
    cursor: pointer;
    text-align: center;
    background-color: var(--icons-color);
    border-radius: 1em;
    font-size: .7rem;
}

.select-td-payment:active {
    background-color: #038b79;
    color: var(--white-color);
}


.confirm-payment p {
    grid-area: header;
    width: 100%;
    height: 2.5rem;
    text-align: center;
    background-color: var(--purple-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: var(--box-shadow);
}
.confirm-payment table {
    grid-area: table;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;    
    overflow: auto;
}
.btn-confirm {
    grid-area: left;
    width: 6.25rem;
}

.btn-modal-padrao{
    text-align: center;
    margin: 5px;
    box-shadow: var(--box-shadow);
}

.btn-deny {
    width: 6.25rem;
    grid-area: right;
}

.confirm-pag{
    background-color: var(--purple-color);
    border-radius: 1rem;
    padding: 3px;
    color: var(--white-color);
    font-size: 0.75rem;
    cursor: pointer;
}
