@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');

:root{
    --black-bg: #1A1C22;
    --black-bg-50: rgb(26, 28, 34, 0.7);
    --grey-color: #3D3A50;
    --grey-light: #7a7a7a;
    --purple-color: #580ef6;
    --purple-light: rgb(160, 116, 255, 0.5);
    --red-danger: #f31818;
    --white-color: #F7F7F7;
    --box-shadow: 0 0 5px var(--black-bg);
    --icons-color: #b100c9;
    --soft-green: #6fc276;
    --soft-red: #ee4747 ;
}


*, html{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--black-bg);
    height: 100%;
    width: 100%;
}

.header{
    position: fixed;
    right: 0;
    width: min(100%, 80vw);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input{
    width: min(100%, 500px);
    height: 2rem;
    padding-left: 1em;
    border-radius: 20px;
    background-color: var(--purple-light);
}

.header input:focus{
    outline: none;
}

.header span{
    font-size: 2em;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header span:hover{
    color: var(--purple-light);
}

.header #select-filter{
    text-align: center;
    border-radius: 1em;
    color: var(--white-color);
    padding: .2em;
    background-color: var(--purple-light);
    outline: none;
    border: none;
    --webkit-appearance: none;
}

.alert{
    display: none;
    background-color: yellow;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 1em;
    padding: .4em;
}

.container{
    display: grid;
    width: 98%;
    margin: o auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}

.user{
    display: flex;
    position: absolute;
    left: 5em;
    z-index: 100;
    color: var(--grey-light);
    height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 10px;
    box-shadow: var(--box-shadow);
    align-items: flex-start;
    flex-wrap: nowrap;
}

.user p b{
    color: var(--white-color);
    font-size: min(14px, 20px);
    transition: all .3s ease;
}

.user p b:hover{
    color: var(--purple-color);
}

.user span{
    position: absolute;
    top: 10px;
    right: -80px;
    cursor: pointer;
    color: var(--icons-color);
}


.sidebar{
    position: absolute;
    top: 80px;
    left: 20px;
    width: min(100%, 20vw);
    height: auto;
    border-radius: 20px;
    background-color: var(--purple-color);
    box-shadow: var(--box-shadow);
}

.sidebar a{
    display: flex;
    font-size: min(12px, 14px);
    padding: 20px;
    justify-content: space-evenly;
    color: var(--white-color);
}

.sidebar a.active{
    background-color: var(--black-bg);
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
}
.sidebar a:last-child {
    justify-content: space-between;
}

.sidebar a:last-child .count-messages{
    background-color: var(--red-danger);
    color: var(--white-color);
    width: min(100%, 20px);
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.sidebar a .material-symbols-sharp{
    color: var(--icons-color);
}

.main-container{
    position: absolute;
    right: 2rem;
    top: 5rem;
    width: 100%;
    max-width:  75vw;
    height: 100%;
    max-height: 80vh;
    border-radius: 20px;
    background-color: var(--purple-color);
}

.dashboard-content{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    color: var(--white-color);
    overflow: auto;
}

.back-animation{
    animation: back 2s ease;
}

@keyframes back{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.dashboard-content > div{
    background-color: var(--purple-light);
    padding: 10px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .3s ease;
}
.dashboard-content > div:hover{
    box-shadow: none;
}

.dashboard-content h3{
    margin-left: .6rem;
    font-size: 1rem;
    color: var(--black-bg);
}

.dashboard-content > div .status{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-content .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.dashboard-content .progress svg{
    width: 7rem;
    height: 7rem;
}

.dashboard-content .progress svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.dashboard-content .cards svg circle{
    stroke: #038b79;
    stroke-dashoffset: 0;
    stroke-dasharray: 222;
}
.dashboard-content .clients svg circle{
    stroke: #038b79;
    stroke-dashoffset: 111;
    stroke-dasharray: 222;
}


.dashboard-content .sales svg circle{
    stroke: #038b79;
    stroke-dashoffset: 222;
    stroke-dasharray: 222;
}

.dashboard-content .progress .percentage{
    position: absolute;
    top: 30px;
    left: -1px;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashboard-content .client-feedb{
    display: flex;
    overflow: auto;
    justify-content: space-between;
    grid-column: span 3;
    pointer-events: none;
    margin-right: 20px;
    margin-bottom: 15px;
}

.dashboard-content .client-feedb h1{
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: min(14px, 20px);
}


.dashboard-content .client-feedb > div{
    width: min(100%, 500px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    margin: 1rem;
}


.dashboard-content .client-feedb > div h3{
    position: relative;
    top: -30px;
    left: -10px;
}

.dashboard-content .client-feedb p {
    font-size: 10px;
}
.show-client{
    display: none;
    width: auto;
    height: 95%;
    flex-direction: column;
    border-radius: .5em;
    overflow: auto;
    margin: 10px;
}

.show-client::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

.show-client::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 1px rgb(255, 255, 255 , 0.2) solid;
}
.show-client .show-multiples{
    display: flex;
    width: auto;
    height: auto;
    background-color: var(--purple-light);
    padding: 2em;
    margin: .2em;
    border-radius: .5em;
}

.show-client .show-multiples .atributos{
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 140em);
}

.show-client .edit-client{
    cursor: pointer;
    color: var(--white-color);
}


.header-cadastros{
    height: 20px;
    padding: 20px;
}

table::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

table::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 2px rgb(255, 255, 255 , 0.2) solid;
}

.tr-padrao {
    width: 100%;
    max-width: 983px; 
    font-size: minmax(auto,20px); 
    color: var(--white-color); 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    border-bottom: 1px solid; 
    padding-bottom: 3px; 
    gap: 5px;
}

.tr-padrao-2 {
    width: 100%; 
    height: 25px; 
    font-size: 12px; 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    border-bottom: 1px solid var(--black-bg); 
    padding: 3px; 
    background-color: var(--purple-light); 
    gap:10px; 
    overflow: hidden;
}
.tr-padrao-3 {
    width: 100%; 
    height: 25px; 
    font-size: 12px; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    border-bottom: 1px solid var(--black-bg); 
    padding: 3px; 
    background-color: var(--purple-light); 
    gap:10px; 
    overflow: hidden;
}

.modal-overlay{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 998;
    height: 100vh;
    width: min(100%, 100vw);
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-overlay .novo-cadastro-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 900px);
    height: 600px;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.novo-cadastro-modal .header-n-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.novo-cadastro-modal .header-n-cadastro a{
    margin-left: 20px;
}

.novo-cadastro-modal .form-n-cadastro{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.novo-cadastro-modal .form-n-cadastro > input{
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 300px);
}

.btn-style{
    color: var(--white-color);
    background-color: var(--icons-color);
    padding: .2em .6em;
    border-radius: 1em;
    cursor: pointer;
}

.excluir-cadastro {
    position: absolute;
    right: 2em;
}
.novo-cadastro-modal p{
    color: var(--red-danger);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-bottom: .4em;
}

/* edit modal */


.modal-e-overlay .edit-cadastro-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 900px);
    height: 600px;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.edit-cadastro-modal .header-e-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.edit-cadastro-modal .header-e-cadastro a{
    margin-left: 20px;
}

.edit-cadastro-modal .form-e-cadastro{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.edit-cadastro-modal .form-e-cadastro > input{
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 300px);
}

.btn-style{
    color: var(--white-color);
    background-color: var(--icons-color);
    padding: .2em .6em;
    border-radius: 1em;
    cursor: pointer;
}
.edit-cadastro-modal p{
    color: var(--red-danger);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-bottom: .4em;
}

select {
    background-color: var(--grey-light);
    text-align: end;
}

.modal-anim{
    animation: bluranim 1s ease-in;
}

@keyframes bluranim{
    from{
        filter: blur(10px);
    }
}

.new-modal-anim{
    animation: newmodal 1s ease-in-out;
}

@keyframes newmodal{
    from{
        transform: translateY(-100vh);
    }
}

.contas{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr, 1fr;
}

.contas > div{
    border-radius: 20px;
    margin: 1rem;
}
.contas table{
    width: 100%;
}
.receber-tb tr{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
}

.confirm-pag{
    background-color: var(--purple-color);
    border-radius: 1rem;
    padding: 3px;
    color: var(--white-color);
    font-size: 12px;
    cursor: pointer;
}

.ordens {
    width: 100%;
    height: 100%;
    max-height: 75vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "list status"
    "list output";
    position: relative;
    gap: 5em
}

.ordens .btn-nova-os {
    position: absolute;
    left: 1em;
    top: 1em;
}

.ordens .table-os {
    grid-area: list;
    margin-top: 4em;
    display: grid;
    place-items: center;
    grid-template-rows: 100px auto;
    overflow: auto;
}

.table-os > table {
    width: 100%;
    height: 100%;
    padding: 16px 0 0 16px;
    display: block;
}
.table-os > table > tbody {
    overflow: auto;
}

.tr-padrao-os {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--purple-light);
    border-bottom: 1px solid var(--black-bg);
    font-size: 12px;
    max-height: 20px;
    overflow: hidden;
}
.tr-padrao-os td {
    text-align: center;
}

.table-os::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

.table-os::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 1px rgb(255, 255, 255 , 0.2) solid;
}

.ordens .status-os {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    grid-area: status;
    height: 230px;
    position: relative;
}

.status-os h2{
    position: absolute;
    top: 1em;
    color: var(--white-color);
}

.status-os div{
    width: 55px;
    font-size: 12px;
    text-align: center;
}

.status-os .status1{
    background-color: #038b79; 
    max-height: 100px;
}

.status-os .status2{
    background-color: #f31818;
    max-height: 100px;
}
.ordens .comment-output {
    position: relative;
    grid-area: output;
    background-color: var(--purple-light);
    padding: 2em;
    border-radius: 2em;
    width: 380px;
    height: 200px;
    box-shadow: var(--box-shadow);
}

.comment-output .output {
    display: block;
    overflow: auto;
    max-width: 300px;
    max-height: 140px;
}
.comment-output .btn-change-os {
    position: absolute;
    top: 1em;
    right: 1em;
}


.modal-os-overlay .nova-os-modal{
    position: absolute;
    z-index: 999;
    width: min(100%, 800px);
    height: 600px;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.nova-os-modal .header-os-cadastro{
    display: flex;
    align-items: center;
    position: relative;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.nova-os-modal .header-os-cadastro a{
    margin-left: 20px;
}

.nova-os-modal .form-n-os{
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: flex-start;
}

.nova-os-modal .form-n-os > select {
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 300px);
}
.nova-os-modal .form-n-os > input{
    background-color: var(--grey-light);
    border-bottom: 1px solid var(--grey-color);
    width: min(100%, 300px);
}

.confirm-payment {
    height: auto;
    width: 350px;
    background-color: var(--purple-color);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    display: grid;
    place-items: center;
    grid-template-areas: 
    "header header"
    "left right"
    "table table";
    gap: 8px;
    box-shadow: var(--box-shadow);
}

.select-td-payment {
    cursor: pointer;
    text-align: center;
    background-color: var(--icons-color);
    border-radius: 1em;
}

.select-td-payment:active {
    background-color: #038b79;
    color: var(--white-color);
}


.confirm-payment p {
    grid-area: header;
    width: 100%;
    height: 40px;
    text-align: center;
    background-color: var(--purple-color);
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    box-shadow: var(--box-shadow);
}
.confirm-payment table {
    grid-area: table;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;    
    overflow: auto;
}
.btn-confirm {
    grid-area: left;
    width: 100px;
}

.btn-modal-padrao{
    text-align: center;
    margin: 5px;
    box-shadow: var(--box-shadow);
}

.btn-deny {
    width: 100px;
    grid-area: right;
}