@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');

:root{
    --black-bg: #1A1C22;
    --black-bg-50: rgb(26, 28, 34, 0.7);
    --grey-color: #3D3A50;
    --grey-light: #7a7a7a;
    --purple-color: #580ef6;
    --purple-light: rgb(160, 116, 255, 0.5);
    --red-danger: #f31818;
    --white-color: #F7F7F7;
    --box-shadow: 0 0 5px var(--black-bg);
    --icons-color: #b100c9;
    --soft-green: #6fc276;
    --soft-red: #ee4747 ;
}


*, html{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--black-bg);
    height: 100%;
    width: 100%;
}

.header{
    position: fixed;
    right: 0;
    width: min(100%, 80vw);
    height: 3.12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input{
    width: min(100%, 31.25rem);
    height: 2rem;
    padding-left: 1em;
    border-radius: 1.25rem;
    background-color: var(--purple-light);
}

.header input:focus{
    outline: none;
}

.header span{
    font-size: 2em;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header span:hover{
    color: var(--purple-light);
}

.header #select-filter{
    text-align: center;
    border-radius: 1em;
    height: 2rem;
    color: var(--white-color);
    background-color: var(--purple-light);
    outline: none;
    border: none;
    font-size: 1rem;
    --webkit-appearance: none;
}

.alert{
    display: none;
    background-color: yellow;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 1em;
    padding: .4em;
    font-size: .8rem;
}

.container{
    display: grid;
    width: 98%;
    margin: o auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto;
}



.sidebar{
    position: absolute;
    top: 5rem;
    left: 1.25rem;
    width: min(100%, 20vw);
    height: auto;
    border-radius: 1.25rem;
    background-color: var(--purple-color);
    box-shadow: var(--box-shadow);
}

.sidebar a{
    display: flex;
    font-size: min(.75rem, .87rem);
    padding: 1.25rem;
    justify-content: space-evenly;
    color: var(--white-color);
    cursor: pointer;
}

.sidebar a.active{
    background-color: var(--black-bg);
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
}
.sidebar a:last-child {
    justify-content: space-between;
}

.sidebar a:last-child .count-messages{
    background-color: var(--red-danger);
    color: var(--white-color);
    width: min(100%, 1.25rem);
    height: 1.25rem;
    border-radius: 50%;
    font-size: .75rem;
    text-align: center;
}

.sidebar a .material-symbols-sharp{
    color: var(--icons-color);
    font-size: 1.5rem;
}

.main-container{
    position: absolute;
    right: 2rem;
    top: 5rem;
    width: 57.5rem;
    height: 100%;
    max-height: 80vh;
    border-radius: 1.25rem;
    background-color: var(--purple-color);
    padding: 1rem;
}


.show-client{
    display: none;
    width: auto;
    height: 95%;
    flex-direction: column;
    border-radius: .5em;
    overflow: auto;
    margin: 0.625rem;
}

.show-client::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

.show-client::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 1px rgb(255, 255, 255 , 0.2) solid;
}
.show-client .show-multiples{
    display: flex;
    width: auto;
    height: auto;
    background-color: var(--purple-light);
    padding: 2em;
    margin: .2em;
    border-radius: .5em;
}

.show-client .show-multiples .atributos{
    display: flex;
    justify-content: space-evenly;
    width: min(100%, 140em);
}

.show-client .edit-client{
    cursor: pointer;
    color: var(--white-color);
}
.show-client .edit-client > span{
    font-size: 1.5rem;
}


.header-cadastros{
    height: 1.25rem;
    padding: 1.25rem;
}

table::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

table::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 2px rgb(255, 255, 255 , 0.2) solid;
}

.client-tb {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: auto;
    height: 100%;
    max-height: 63vh;
}

.tr-padrao {
    width: 100%;
    max-width: 61.4rem; 
    font-size: minmax(auto, 1.25rem); 
    color: var(--white-color); 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    border-bottom: 1px solid; 
    padding-bottom: 3px; 
    gap: 0.31rem;
}

.tr-padrao-2 {
    width: 100%; 
    height: 1.563rem; 
    font-size: 0.75rem; 
    display: grid; 
    grid-template-columns: repeat(7, 1fr); 
    border-bottom: 1px solid var(--black-bg); 
    padding: 3px; 
    background-color: var(--purple-light); 
    gap: 0.625rem; 
    overflow: hidden;
}
.tr-padrao-3 {
    width: 100%; 
    height: 1.56rem; 
    font-size: .75rem; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    border-bottom: 1px solid var(--black-bg); 
    padding: 3px; 
    background-color: var(--purple-light); 
    gap: 5rem; 
    overflow: hidden;
}


.btn-style{
    color: var(--white-color);
    background-color: var(--icons-color);
    padding: .2rem .6rem;
    border-radius: 1rem;
    cursor: pointer;
    font-size: .7rem;
}
select {
    background-color: var(--grey-light);
    text-align: end;
}

@media only screen and (min-width: 400px) {
    html{
        font-size: 6px;
    }
    .sidebar{
        width: min(100%, 5vw);
        overflow: hidden;
        height: 30vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sidebar a {
        height: 100%;
        display: grid;
        place-items: center;
    }
    .sidebar a > h3, span {
        display: none;
    }
    .dashboard-content .progress circle{
        display: none;
    }
    .dashboard-content .cards-div{
        height: 18rem !important;
    }
    .ordens {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(3, 1fr));
        grid-template-areas: 
        "list"
        "status"
        "output" !important;
        place-items: center;
    }
    .tr-padrao, .client-tb, .tr-padrao-2 {
        width: 120rem;
        font-size: 1.5rem;
        max-width: 120rem;
    }
    .tr-padrao, .tr-padrao-2 {
        height: 3rem;
        gap: 1rem;
    }
    .novo-cadastro-modal .sex-select > input {
        width: auto !important;
    }
    .header-n-cadastro, .header-e-cadastro, .header-os-cadastro {
        height: 8rem !important;
    }
    .modal-e-overlay .edit-cadastro-modal {
        height: auto !important;
    }
    .edit-cadastro-modal label, input {
        font-size: 2rem;
    }
    .edit-cadastro-modal .sex-select > input {
        width: auto !important;
    }
    .form-n-os label, input, select > option {
        width: 100%;
        font-size: 2rem;
    }
    .form-n-os > select, input {
        width: 70% !important;
    }
    .edit-cadastro-moda, input {
        font-style: italic;
    }

    .btn-style {
        padding: .8rem 1rem;
        font-size: 2rem;
        border-radius: 3rem;
    }
    .confirm-pag {
        padding: 0.18rem 0.3rem !important;
    }
    .tr-padrao-3 {
        height: 4rem;
        font-size: 2rem;
    }

    .select-td-payment {
        display: grid;
        place-items: center;
    }
}

@media only screen and (min-width: 720px) {
    html{
        font-size: 9px;
    }
    .sidebar{
        width: min(100%, 20vw);
    }
    .sidebar a {
        height: 100%;
        display: flex;
    }
    .sidebar a > h3, span {
        display: block;
    }
    .dashboard-content .progress circle{
        display: none;
    }
    .dashboard-content .cards-div{
        height: 18rem !important;
    }
    .ordens {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        grid-template-areas: 
        "list"
        "status"
        "output" !important;
        place-items: center;
    }
    
}

@media only screen and (min-width: 960px) {
    html{
        font-size: 13px;
    }  
    .dashboard-content {
        display: grid;
    }
    .dashboard-content .progress circle{
        display: flex;
    }
    .dashboard-content .cards-div{
        height: 15rem !important;
    }
    .ordens {
        grid-template-areas: 
        "list status"
        "list output" !important;
    }
    .tr-padrao, .client-tb, .tr-padrao-2 {
        width: 100% !important;
        font-size: 0.8rem;
        max-width: 55rem !important;
    }
    .tr-padrao, .tr-padrao-2 {
        height: 1.5rem;
        gap: 1rem;
    }
}

@media only screen and (min-width: 1240px) {
    html{
        font-size: 16px;
    }
    .dashboard-content .progress .percentage {
        left: -1rem !important;
    }
    .dashboard-content .client-feedb{
        height: 16rem !important;
    }
}

@media only screen and (min-width: 1440px) {
    html{
        font-size: 18px;
    }
    .dashboard-content .progress .percentage {
        left: -1rem !important;
    }
}
