@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,500&display=swap');

:root{
    --black-bg: #1A1C22;
    --black-bg-50: rgb(26, 28, 34, 0.7);
    --grey-color: #3D3A50;
    --grey-light: #7a7a7a;
    --purple-color: #580ef6;
    --purple-light: rgb(160, 116, 255, 0.5);
    --red-danger: #f31818;
    --white-color: #F7F7F7;
    --box-shadow: 0 0 5px var(--black-bg);
    --icons-color: #b100c9;
}


*, html{
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    background-color: var(--black-bg);
    height: 100%;
    width: 100%;
}

.header{
    position: fixed;
    right: 0;
    width: 80vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header input{
    width: 500px;
    height: 2rem;
    padding-left: 1em;
    border-radius: 20px;
    background-color: var(--purple-light);
}

.header input:focus{
    outline: none;
}

.header span{
    font-size: 2em;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.header span:hover{
    color: var(--purple-light);
}

.header #select{
    text-align: center;
    border-radius: 1em;
    color: var(--white-color);
    padding: .2em;
    background-color: var(--purple-light);
    outline: none;
    border: none;
    --webkit-appearance: none;
}

.alert{
    display: none;
    background-color: yellow;
    position: absolute;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    border-radius: 1em;
    padding: .4em;
}

.container{
    display: grid;
    width: 98%;
    margin: o auto;
    gap: 1.8rem;
    grid-template-columns: 12rem auto 23rem;
}

.user{
    display: flex;
    position: absolute;
    left: 5em;
    z-index: 100;
    color: var(--grey-light);
    height: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 10px;
    box-shadow: var(--box-shadow);
    align-items: flex-start;
    flex-wrap: nowrap;
}

.user p b{
    color: var(--white-color);
    font-size: 20px;
    transition: all .3s ease;
}

.user p b:hover{
    color: var(--purple-color);
}

.user span{
    position: absolute;
    top: 10px;
    right: -80px;
    cursor: pointer;
    color: var(--icons-color);
}


.sidebar{
    position: absolute;
    top: 80px;
    left: 20px;
    width: 20vw;
    height: auto;
    border-radius: 20px;
    background-color: var(--purple-color);
    box-shadow: var(--box-shadow);
}

.sidebar a{
    box-shadow: none;
}

.sidebar a{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    color: var(--white-color);
}

.sidebar a.active{
    background-color: var(--black-bg);
    border-top: 1px solid var(--purple-color);
    border-bottom: 1px solid var(--purple-color);
}
.sidebar a:last-child {
    justify-content: space-between;
}

.sidebar a:last-child .count-messages{
    background-color: var(--red-danger);
    color: var(--white-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
}

.sidebar a .material-symbols-sharp{
    color: var(--icons-color);
}

.main-container{
    position: absolute;
    right: 2rem;
    top: 5rem;
    width: 75vw;
    height: 80vh;
    border-radius: 20px;
    background-color: var(--purple-color);
}

.dashboard-content{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    color: var(--white-color);
    overflow: auto;
}

.back-animation{
    animation: back 2s ease;
}

@keyframes back{
    from{
        opacity: 0;
        transform: translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.dashboard-content > div{
    background-color: var(--purple-light);
    padding: 10px;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all .3s ease;
}
.dashboard-content > div:hover{
    box-shadow: none;
}

.dashboard-content h3{
    margin-left: .6rem;
    font-size: 1rem;
    color: var(--black-bg);
}

.dashboard-content > div .status{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-content .progress{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.dashboard-content .progress svg{
    width: 7rem;
    height: 7rem;
}

.dashboard-content .progress svg circle{
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.dashboard-content .cards svg circle{
    stroke: #038b79;
    stroke-dashoffset: -30;
    stroke-dasharray: 130;
}


.dashboard-content .sales svg circle{
    stroke: #038b79;
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
.dashboard-content .total-sales svg circle{
    stroke: #038b79;
    stroke-dashoffset: -30;
    stroke-dasharray: 90;
}
.dashboard-content .progress .percentage{
    position: absolute;
    top: 30px;
    left: -1px;
    display: flex;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.dashboard-content .client-feedb{
    display: flex;
    overflow: auto;
    justify-content: space-between;
    grid-column: span 3;
    pointer-events: none;
    margin-right: 20px;
    margin-bottom: 15px;
}

.dashboard-content .client-feedb h1{
    position: absolute;
    font-size: 20px;
}


.dashboard-content .client-feedb > div{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px;
    margin: 1rem;
}


.dashboard-content .client-feedb > div h3{
    position: relative;
    top: -30px;
    left: -10px;
}
.show-client{
    display: none;
    width: auto;
    height: 95%;
    flex-direction: column;
    border-radius: .5em;
    overflow: auto;
    margin: 10px;
}

.show-client::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

.show-client::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 1px rgb(255, 255, 255 , 0.2) solid;
}
.show-client .show-multiples{
    display: flex;
    width: auto;
    height: auto;
    background-color: var(--purple-light);
    padding: 2em;
    margin: .2em;
    border-radius: .5em;
}

.show-client .show-multiples .atributos{
    display: flex;
    justify-content: space-evenly;
    width: 140em;
}

.show-client .edit-client{
    cursor: pointer;
    color: var(--white-color);
}


.header-cadastros{
    height: 20px;
    padding: 20px;
}


table::-webkit-scrollbar{
    background-color: var(--purple-light);
    border-radius: .3em;
}

table::-webkit-scrollbar-thumb{
    background-color: var(--purple-color);
    border-radius: .3em;
    border: 2px rgb(255, 255, 255 , 0.2) solid;
}

.modal-overlay{
    display: grid;
    place-items: center;
    position: relative;
    z-index: 998;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-overlay .novo-cadastro-modal{
    position: absolute;
    z-index: 999;
    width: 900px;
    height: 600px;
    background-color: var(--grey-light);
    border-radius: 2em;
    display: flex;
    flex-direction: column;
}

.novo-cadastro-modal .header-n-cadastro{
    position: relative;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-color: var(--purple-color);
}
.novo-cadastro-modal .header-n-cadastro a{
    position: absolute;
    top: 15px;
    left: 40px;
}

.novo-cadastro-modal .form-n-cadstro{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.btn-style{
    color: var(--white-color);
    background-color: var(--icons-color);
    padding: .2em .6em;
    border-radius: 1em;
    cursor: pointer;
}
.novo-cadastro-modal p{
    color: var(--red-danger);
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-bottom: .4em;
}



